@font-face {
  font-display: swap;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  src: url("https://fonts-3by.pages.dev/josefin-sans-v32-latin/josefin-sans-v32-latin-300.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts-3by.pages.dev/josefin-sans-v32-latin/josefin-sans-v32-latin-regular.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 600;
  src: url("https://fonts-3by.pages.dev/josefin-sans-v32-latin/josefin-sans-v32-latin-600.woff2")
    format("woff2");
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

:root {
  /* Colors */

  --text-color: hsl(0, 36%, 70%);
  --Soft-Red: hsl(0, 93%, 68%);
  --heading: hsl(0, 6%, 24%);
  --mainBG:  rgb(248, 243, 236);

  /* Gradients */

  --gradient1: 135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%);
  --gradient2: 135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%);

  /* Font */

  /* Font Size */

  --font-100px: 0.75rem;  /* 12px */
  --font-200px: 0.875rem;     /* 14px */
  --font-300px: 1rem;     /* 16px */
  --font-400px: 1.5rem;     /* 24px */

  /*Font Family */
  --ff: "Josefin Sans";

  /* Spacing */

  --space-100: 0.625rem;  /* 10px */
  --space-200: 1.25rem;   /* 20px */
  --space-300: 1.875rem;  /* 30px */
  --space-400: 2.5rem;    /* 40px */
  --space-500: 3.125rem;  /* 50px */
  --space-600: 3.75rem;   /* 60px */
  --space-700: 4.375rem;  /* 70px */
  --space-800: 5rem;      /* 80px */
  --space-900: 5.625rem;  /* 90px */
  --space-1000: 6.25rem;  /* 100px */
}
body {
  font-family: var(--ff), sans-serif;
  font-size: 1rem;
  background-color: var(--mainBG);
}

.wrapper {
  display: grid;
  grid-template-rows: repeat(3, auto);
  margin-bottom: var(--space-1000);
  background-color: var(--mainBG);
}

.logo-section {
  margin: var(--space-300);
}
.logo-section .logo {
  height: 1.25rem;
}

.hero-img-section img {
  object-fit: cover;
  width: 62.5rem;
}

.main-content {
  max-width: 26.25rem;
  display: flex;
  gap: var(--space-300);
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  place-self: center;
  margin: var(--space-500) var(--space-300);
  text-align: center;
}

.main-content .heading {
  line-height: 1.1;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-size: var(--font-400px);
}

.main-content .heading .thick-title {
  font-weight: 300;
  color: var(--text-color);
}
.main-content .heading .bold-title {
  font-weight: 600;
  color: var(--heading);
}

.main-content .description {
  color: var(--text-color);
}

.main-content .input-submit {
  width: 100%;
  position: relative;
  --border-radius:25px
}

.input input {


  width: 100%;
  font-size: var(--font-300px);
  line-height: 2;
  border-radius: var(--border-radius) ;
  outline: none;
  border: 2px solid var(--text-color);
  padding-block: var(--space-100);
  padding-left: var(--space-200);
  background-color: transparent;
}


.btn {
  position: absolute;
  top: 0%;
  right: 0;
  border-radius: var(--border-radius);
  padding: calc(var(--space-100) + .5rem) var(--space-300);
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  border: none;
  transition: filter 0.1s ease-in;
}

.btn:hover {
  background: hsl(0, 80%, 86%);
  filter: drop-shadow(6px 10px 10px hsla(0, 80%, 86%, 1));
}

.error-img {
  display: none;
  position: absolute;
  right: 25%;
  top: 0.938rem;
  width: 20px;
}
.error-msg{
  color: red;
  position: absolute;
  bottom: -40%;
  left: 1.25rem;

  font-size: var(--font-100px);
}

@media (min-width: 62.5rem) {
  body {
    height: 100vh;
    place-content: center;
    background-color: whitesmoke;
  }

  .wrapper {
    height: 37.5rem;
    width: 62.5rem;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1.15fr 1fr;
    margin: 0 auto;
    overflow: hidden;
  }
  .logo-section {
    grid-row: 1;
    grid-column: 1;
    justify-self: start;
    align-items: end;
  }
  .logo-section .logo {
    height: 30px;
    margin-inline: var(--space-700);
  }

  .hero-img-section {
    grid-row: 1 / -1;
    grid-column: 2;
    justify-items: end;
  }
  .hero-img-section img {
    object-fit: cover;
    object-position: top;
  }
  .main-content {
    grid-row: 2;
    columns: 1;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
    margin-inline: var(--space-1000);
    margin-top: var(--space-500);
  }
}
